<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {%endblock %} WeChat</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .chat-messages{
            height: 400px;
            overflow-y: auto;
        }
    </style>
</head>

<body class="bg-green-800">

    <nav class="flex items-center justify-between px-4 py-6 bg-green-800">
        <div>
            <a href="{% url 'homepage' %}"> <img class="h-14" src="/Media/core/templates/logo/logo.png/" alt=""></a>
        </div>

        <div class="flex items-center space-x-5">
            {% if request.user.is_authenticated %}
            <a href="/rooms/" class="text-white hover:text-gray-200">Rooms</a>
            <a href="/logout/" class="px-5 py-2 rounded-full text-white bg-green-600 hover:bg-teal-700">Logout</a>

            {% else %}

            <a href="/login/" class="text-white hover:text-gray-200">Login</a>
            <a href="/signup/" class="px-5 py-2 rounded-full text-white bg-green-600 hover:bg-teal-700">Signup</a>
            {% endif %}
        </div>

    </nav>
    {% block content %}

    {% endblock %}

    {% block scripts %}

    

    {% endblock %}

</body>


</html>